html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

header {
  background-color: grey;
  width: 100%; }

.logo {
  font-family: "RalewayRegular", sans-serif;
  font-size: 34px;
  color: white; }

.menu ul li {
  display: inline-block;
  padding-top: 15px; }

.menu ul li a {
  display: block;
  font-family: "MontserratLight", sans-serif;
  font-size: 14px;
  color: white;
  padding-right: 20px; }

.menu .active a {
  color: #c7b299; }

.Search {
  padding-top: 15px; }

.carousel-caption {
  width: 100%;
  top: 0;
  left: 0;
  bottom: auto; }

.carousel-control {
  width: 6%; }

.slogan {
  padding-top: 200px; }

.slogan span {
  font-family: "RalewayMedium", sans-serif;
  font-size: 36px; }

.slogan h1 {
  font-family: "RalewayExtraBold", sans-serif;
  font-size: 52px;
  margin-top: 0; }

.slogan {
  font-family: "MontserratLight", sans-serif;
  font-size: 16px; }

.slogan button {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border: none;
  box-shadow: 0 3px #736357;
  font-family: "RalewayExtraBold", sans-serif;
  font-size: 14px;
  margin-top: 50px; }

.Services {
  padding-top: 85px; }

.thumbnail {
  border: 0; }

.thumbnail a img {
  width: 45px;
  height: 40px; }

.thumbnail h3 {
  font-family: "RalewaySemiBold", sans-serif;
  font-size: 22px;
  color: #555555;
  text-align: center; }

.thumbnail p {
  font-family: "MontserratLight", sans-serif;
  font-size: 14px;
  color: #8c8c8c; }

.thumbnail:hover {
  background-color: #362f2d; }

.Txt {
  text-align: center;
  padding: 25% 20% 0 20%; }

.Txt span {
  font-family: "RalewaySemiBold", sans-serif;
  font-size: 30px;
  color: #555555; }

.Txt p {
  font-family: "MontserratLight", sans-serif;
  font-size: 16px;
  color: #8c8c8c; }

.Background {
  height: 620px; }

.browser-left {
  position: absolute;
  top: 112px; }

.browser-center {
  position: absolute;
  top: 30px;
  left: 230px;
  z-index: 5; }

.browser-right {
  position: absolute;
  top: 112px;
  right: 0; }

.Text-Boxes {
  width: 100%;
  background: linear-gradient(to right, #211b19, #4e3327);
  height: 150px; }

.Text-Boxes h3 {
  font-family: "RalewayRegular", sans-serif;
  font-size: 28px;
  color: white;
  padding: 30px 0 0 30px; }

.Text-Boxes p {
  font-family: "MontserratLight", sans-serif;
  font-size: 18px;
  color: #615855;
  padding: 0 0 0 30px; }

.Text-Boxes button {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border: none;
  box-shadow: 0 3px #736357;
  font-family: "RalewayExtraBold", sans-serif;
  font-size: 14px;
  margin-top: 50px;
  color: white; }

.Txt2 {
  padding: 80px 20% 0 20%; }

.nav-pills {
  margin: 0 auto;
  padding: 35px;
  width: 600px; }

.nav-pills > li > a {
  font-family: "MontserratLight", sans-serif;
  font-size: 14px;
  color: #8c8c8c; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #998675; }

.Project .thumbnail img {
  width: 370px;
  height: 240px; }

.Project .thumbnail:hover #lupa {
  visibility: visible; }

.Project .thumbnail a img:hover {
  filter: brightness(30%); }

.Project .thumbnail a span img {
  width: 80px;
  height: 25px;
  position: absolute;
  top: 30%;
  left: 40%;
  visibility: hidden; }

.Project .thumbnail h3 {
  font-family: "RalewayMedium", sans-serif;
  font-size: 20px;
  color: #c7b299;
  text-align: center; }

.Project .thumbnail p {
  font-family: "MontserratLight", sans-serif;
  font-size: 14px;
  color: #d1d1d1;
  text-align: center; }

.Load-More {
  margin: 0 auto;
  width: 300px;
  height: 200px; }

.Load-More button {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border: none;
  box-shadow: 0 3px #736357;
  font-family: "RalewayExtraBold", sans-serif;
  font-size: 14px;
  margin-top: 50px;
  color: white; }

.iPhone img {
  float: right;
  padding-top: 80px; }

.Excellent {
  height: 696px; }

.Excellent h3 {
  padding-top: 190px;
  font-family: "RalewaySemiBold", sans-serif;
  font-size: 30px;
  color: #555555; }

.Excellent p {
  font-family: "MontserratLight", sans-serif;
  font-size: 16px;
  color: #8c8c8c; }

.Excellent ul li {
  font-family: "MontserratLight", sans-serif;
  font-size: 16px;
  color: #8c8c8c;
  list-style-type: none; }

.Counters {
  width: 100%;
  background: linear-gradient(to right, #211b19, #4e3327);
  padding-top: 65px; }

.Counters .thumbnail {
  background-color: transparent; }

.Counters .thumbnail img {
  width: 45px;
  height: 45px; }

.Counters .thumbnail h3 {
  font-family: "MontserratUltratLight", sans-serif;
  font-size: 48px;
  color: white; }

.Counters .thumbnail p {
  font-family: "MontserratLight", sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  text-transform: uppercase; }

.Counters .thumbnail hr {
  border: none;
  background-color: white;
  color: white;
  height: 3px;
  width: 15%; }

.Project2 {
  height: 750px; }

.Project2 .thumbnail {
  margin-top: 40px; }

.Project2 .thumbnail h3 {
  text-align: left; }

.Project2 .thumbnail p {
  text-align: left; }

.Project2 .thumbnail a {
  font-family: "MontserratLight", sans-serif;
  font-size: 14px;
  color: #c7b299; }

/*# sourceMappingURL=main.css.map */
